{
  "APP_PORT": "<APP_PORT>",

  "DB_NAME": "<DB_NAME>",
  "DB_HOST_WRITE": "<DB_HOST_WRITE>",
  "DB_USER_WRITE": "<DB_USER_WRITE>",
  "DB_PASS_WRITE": "<DB_PASS_WRITE>",
  "DB_HOST_READ": "<DB_HOST_READ>",
  "DB_USER_READ": "<DB_USER_READ>",
  "DB_PASS_READ": "<DB_PASS_READ>",

  "OMDB_API": "<OMDB_API>",
  "OMDB_API_KEY": "<OMDB_API_KEY>"
}
